@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>This is the privacy policy. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec egestas, odio ut mollis bibendum, odio turpis luctus leo, vel lacinia tortor lorem eget magna. Duis nibh urna, tristique eget egestas id, iaculis vitae felis. In aliquam ante tortor, sit amet mollis enim eleifend et. In ac libero nec dolor efficitur dignissim.</p>
